data/2020_prices/July.xlsx
data/2020_prices/June.xlsx
__pycache__/utilities.cpython-310.pyc
__pycache__/utilities.cpython-37.pyc
__pycache__/jogonamesa_spyder.cpython-37.pyc
__pycache__/gameplay_spyder.cpython-37.pyc
__pycache__/credentials.cpython-310.pyc
__pycache__/user_login.cpython-310.pyc
credentials.py
__pycache__/jogonamesa_spyder.cpython-310.pyc
__pycache__/gameplay_spyder.cpython-310.pyc
