
body {
  background-color: #F7F7F7;
  font-family: "Lato", sans-serif;
  margin: 0
}

.card {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
  margin-bottom: 24px
}

.header {
  background-color: #222222;
  height: 288px;
  padding: 16px 0 0 0;
}

.header-description {
  color: #CFCFCF;
  margin: 4px auto;
  max-width: 384px;
  text-align: center
}

.header-emoji {
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
}

.header-title {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center
}

.menu {
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: space-evenly;
  height: 112px;
  margin: -80px auto 0 auto;
  padding-top: 24px;
  width: 912px
}

.menu-title {
  color: #079A82;
  font-weight: bold;
  margin-bottom: 6px
}

.Select-control {
  height: 48px;
  width: 256px
}

.Select--multi .Select-value-label {
  line-height: 32px
}

.Select--single>.Select-control .Select-value,
.Select-placeholder {
  line-height: 48px
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  max-width: 1024px;
  padding-left: 10px;
  padding-right: 10px
}
